<mat-drawer-container class="adminstrator-container">
    <mat-drawer mode="side" opened>
        <img src="assets/logo.png" />
        <app-admin-user-card></app-admin-user-card>
        <!--   <a routerLink="/administrator/test">
            <button mat-raised-button color="primary">
                <mat-icon>add</mat-icon>
                Ajouter table
            </button>
        </a> -->
        <div class="btn-container">
            <button mat-raised-button color="primary" (click)="logout()">

                <mat-icon>logoutoutlined</mat-icon>
                Logout
            </button>
        </div>

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>